---
name: Super-Linter

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Work around super-linter
        shell: bash
        run: |
          # Work-around for SHA detection
          # https://github.com/super-linter/super-linter/issues/6316#issuecomment-2510205626
          if [[ '${{ github.event_name }}' == 'pull_request' ]]; then
            echo 'GITHUB_BEFORE_SHA=${{ github.event.pull_request.base.sha }}' >> "${GITHUB_ENV}"
          fi
      - name: Run Super Linter
        uses: super-linter/super-linter@502f4fe48a81a392756e173e39a861f8c8efe056 # v8.3.0
        env:
          # ASCII Possum is cute, but not necessary
          SUPPRESS_POSSUM: true
          # Only check new or modified files
          VALIDATE_ALL_CODEBASE: false
          # Language-specific linters
          VALIDATE_MARKDOWN: true
          VALIDATE_YAML: true
          # Misc configuration
          ENFORCE_COMMITLINT_CONFIGURATION_CHECK: true
          VALIDATE_GIT_COMMITLINT: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_GITLEAKS: true
          # Do not rely on the statuses permission
          MULTI_STATUS: false
